// Imports
@import "../base/fonts";
@import "../base/colors";

.jobPositionsCard {
	p {
		a {
			@apply font-semibold underline text-blue-Two hover:text-yellow-Two transition-all ease-in-out duration-500;
		}
	}
}
