// Imports
@import "../base/fonts";
@import "../base/colors";

.navbar {
	ul {
		font-family: $body;
	}

	.aboutUsSublinks {
		li:nth-last-child(0) {
			display: none;
			@apply border-none;
		}
	}

	.nav {
		visibility: hidden;
		clip-path: circle(30px at calc(100% - 45px) 45px);
		@apply top-0 right-0 bottom-0 z-[998] flex fixed max-w-[35rem] overflow-hidden w-[83.333333%] transition-all duration-500 ease-in-out;

		::-webkit-scrollbar {
			// display: none;
			width: 0.65rem;
			height: 0.65rem;
		}

		::-webkit-scrollbar-track {
			background: $darkBlue;
		}

		::-webkit-scrollbar-thumb {
			background: $blue;
			border-radius: 100px;

			&:hover {
				transition: all 0.5s;
				background-color: $lightBlue;
			}
		}

		.container {
			@apply relative flex flex-col w-full h-full px-6 py-6 overflow-x-hidden overflow-y-auto bg-white;

			.top {
				@apply flex flex-col items-center mb-8;

				.link {
					@apply mr-auto text-3xl font-bold leading-none;

					.image {
						@apply object-contain object-center w-[50px] h-[50px];
					}
				}
			}

			.middle {
				@apply flex flex-col px-4 mt-4;

				.ourServicesLinks,
				.newsInsightsSublinks {
					@apply border-b-[1px] border-yellow-dark border-opacity-50 cursor-pointer;

					.content {
						@apply py-4 flex flex-row justify-between items-center gap-2;

						.image {
							@apply w-[25px] h-[25px] object-contain object-center;
						}
					}

					.ul {
						@apply flex flex-col z-[999];

						.li {
							@apply hover:border-blue-two hover:bg-blue-two border-y-[1px] border-darkGrey border-opacity-50 text-black hover:text-white;

							.link {
								@apply block p-4 text-tiny font-semibold;
							}
						}
					}
				}

				.ourServicesLinks {
					.content {
						.link {
							@apply text-black text-tiny font-semibold text-center tracking-[0.05rem] hover:text-blue-two transition-all ease-in-out duration-500;
						}
					}

					.ul {
						@apply my-4;

						.li:nth-last-child(0) {
							display: none;
							@apply border-none;
						}

						.optionOne {
							@apply border-t-[1px] border-darkGrey border-opacity-50;
						}

						.optionTwo {
							@apply border-t-[0px];
						}
					}
				}

				.newsInsightsSublinks {
					.content {
						.span {
							@apply text-black text-tiny font-semibold text-center tracking-[0.05rem] hover:text-blue-two transition-all ease-in-out duration-500;

							.link {
								@apply text-black text-tiny font-semibold text-center tracking-[0.05rem] hover:text-blue-two transition-all ease-in-out duration-500;
							}

							.image {
								@apply w-[25px] h-[25px] object-contain object-center;
							}
						}
					}

					.ul {
						@apply py-4 w-full;

						.li:nth-last-child(0) {
							display: none;
							@apply border-none;
						}
					}
				}

				.otherLinks {
					@apply border-b-[1px] border-yellow-dark border-opacity-50 cursor-pointer;

					.link {
						@apply block py-4 text-tiny font-semibold text-black hover:text-blue-two;
					}
				}
			}

			.bottom {
				@apply mt-20;

				.content {
					@apply flex flex-col items-center justify-between gap-4;

					.text {
						@apply mb-5 text-tiny font-semibold tracking-normal text-center uppercase md:text-left text-black;
					}

					.socialLinks {
						@apply flex items-center justify-center gap-4 text-center;

						.link {
							@apply inline-block px-1 hover:opacity-70;

							.svg {
								@apply w-5 h-5 fill-yellow-default;
							}
						}
					}

					.contactLinks {
						@apply flex flex-col sm:flex-row items-center justify-center w-auto gap-2 py-6 mb-10;

						.content {
							@apply flex items-center justify-center gap-2;

							.svgWrapper {
								@apply flex items-center justify-center w-8 h-8 rounded-full bg-blue-two sm:mr-3;

								.svg {
									@apply fill-none;
								}
							}

							.link {
								@apply font-medium text-tiny tracking-wide text-black hover:text-yellow-two;
							}
						}
					}
				}
			}
		}
	}

	// Reveal Fullscreen Nav
	.navReveal {
		visibility: visible;
		clip-path: circle(100%);
	}

	.navToggle {
		cursor: pointer;
		position: fixed;
		z-index: 999;
		right: 0px;
		top: 15px;
		padding: 0px;
		width: 50px;
		height: 45px;
		border: none;
		line-height: 0.6;
		background: $blue;
		border-radius: 0px;
		text-align: center;
		margin-right: 15px;
		transition: all 1s ease-in-out;

		&:hover {
			transition: all 0.2s ease-in-out;
			background: $purple;
		}

		span {
			// the second divider
			display: inline-block;
			position: relative;
			height: 2px;
			width: 34px;
			border-radius: 1px;
			background: $white;
			vertical-align: middle;
			&:before,
			&:after {
				display: inline-block;
				position: absolute;
				content: "";
				height: 2px;
				border-radius: 1px;
				background: $white;
				// for the hover state
				transition: all 200ms;
			}
			&:before {
				top: -11px;
				left: 0px;
				width: 34px;
			}
			&:after {
				top: 11px;
				left: 0px;
				width: 34px;
			}
		}

		&:focus {
			outline: none;
		}
		&:hover > span:after,
		&:hover > span:before {
			width: 34px;
			left: 0;
		}
	}

	// Open Full Screen Nav
	.navToggleOpen {
		cursor: pointer;
		position: fixed;
		z-index: 999;
		right: 0px;
		top: 15px;
		padding: 0;
		width: 50px;
		height: 45px;
		border: none;
		line-height: 0.6;
		background: $blue;
		text-align: center;
		border-radius: 0px;
		margin-right: 15px;
		transition: all 1s ease-in-out;

		span {
			height: 0px;
			width: 27px;
			position: relative;
			border-radius: 1px;
			background: $white;
			display: inline-block;
			vertical-align: middle;

			&:after,
			&:before {
				content: "";
				left: 0;
				top: 0px;
				width: 25px;
				height: 2px;
				position: absolute;
				border-radius: 1px;
				display: inline-block;
				background: $white;
				// for the hover state
				transition: all 200ms;
			}
			&:after {
				top: -2px;
				left: 1px;
				transform: rotate(-45deg);
			}
			&:before {
				top: -1.5px;
				left: 0.5px;
				transform: rotate(45deg);
			}
		}

		&:hover {
			transition: all 0.2s ease-in-out;
			background: $purple;
		}
	}
}
