// Imports
@import "../../base/fonts";
@import "../../base/colors";

.backToTopButton {
	font-family: $body;

	@apply bg-blue-dark py-2 px-3 hover:bg-blue-darkerTwo transition-all ease-in-out duration-500;

	&:focus {
		outline: none;
	}

	&:hover {
		transition: 0.5s;
	}
}

.backHoverButton {
	display: flex;
	transition: 1s;
	padding: 10px 20px;
	font-family: $body;
	align-items: center;
	background: $darkBlue;
	text-decoration: none;
	justify-content: center;
	transform: skewX(-15deg);
	box-shadow: -3px 6px 0 $darkerBlue;

	&:focus {
		outline: none;
	}

	&:hover {
		transition: 0.5s;
		box-shadow: -10px 10px 0 $blue;

		.span:nth-child(2) {
			transition: 0.5s;
			margin-right: 45px;
		}

		.three {
			animation: color_anim 1s infinite 0.2s;
		}

		.one {
			transform: translateX(0%);
			animation: color_anim 1s infinite 0.6s;
		}

		.two {
			transform: translateX(0%);
			animation: color_anim 1s infinite 0.4s;
		}
	}

	.span:nth-child(2) {
		transition: 0.5s;
		margin-right: 0px;
	}

	.span {
		transform: skewX(15deg);
	}

	.span:nth-child(2) {
		width: 20px;
		margin-left: 20px;
		position: relative;
		top: 5%;
	}

	/**************SVG****************/
	.one {
		transition: 0.4s;
		transform: translateX(-60%);
	}

	.two {
		transition: 0.5s;
		transform: translateX(-30%);
	}

	/* SVG animations */
	@keyframes color_anim {
		0% {
			fill: $white;
		}
		50% {
			fill: $blue;
		}
		100% {
			fill: $white;
		}
	}
}
