// Colours Variables
$black: #111;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$blue: #2563eb;
$blueTwo: #3978ff;
$darkBlue: #09275e;
$babyBlue: #5ac3ff;
$lightBlue: #3d77f3;
$darkerBlue: #001e55;
$darkerBlueTwo: #001640;
$purple: #833df4;
$purpleTwo: #7036db;
$purpleDark: #2d2378;
$pinkRed: #e20031;
$darkPinkRed: #9a0021;
$goldPrime: #e8b042;
$goldPrimeDark: #d1a855;
$goldPrimeDarker: #b68b36;

// Main Colours
$yellow: #f6ad37;
$yellowTwo: #e8b042;
$yellowThree: #fac546;
$yellowDark: #e4a002;
$yellowDarker: #bc7700;
