/*===== FONTS =====*/
@font-face {
	font-family: Inter;
	src: url("../fonts/Inter.woff");
}

@font-face {
	font-family: PlusJakartaSans;
	src: url("../fonts/PlusJakartaSans.woff");
}

@font-face {
	font-family: RooftopBold;
	src: url("../fonts/Rooftop-Bold.woff");
}

@font-face {
	font-family: ParamountBold;
	src: url("../fonts/ParamountBold.woff");
}

// Font Stack Properties
$main: "RooftopBold";
$body: "PlusJakartaSans", "Inter";
