/*===== FONTS =====*/
@font-face {
	font-family: Inter;
	src: url("../fonts/Inter.woff");
}

@font-face {
	font-family: PlusJakartaSans;
	src: url("../fonts/PlusJakartaSans.woff");
}

@font-face {
	font-family: TelkaRegular;
	src: url("../fonts/TelkaRegular.woff");
}

// Font Stack Properties
$main: "TelkaRegular", "PlusJakartaSans";
$body: "PlusJakartaSans", "Inter";
